<main>

  <div class="d-flex align-items-center">
    <div class="flex-grow-1">
      <h1 class="page-title">Kartvizitler</h1>
      <p class="page-description">Bu ekrandan kartvizitlerinizi yönetebilirsiniz.</p>
    </div>
    <app-card-search></app-card-search>
    <button mat-fab color="primary" aria-label="ADD" (click)="openAddCardModal()" style="margin-left: 16px;">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <hr>

  <div class="cards">
    <div class="row">
      <div class="col-12" *ngIf="!cardService.cards">
        <small>Kartvizitler Yükleniyor. Lütfen bekleyiniz...</small>
      </div>
      <div class="col-12" *ngIf="cardService.cards?.length===0">
        <span>İlk kartvizitinizi <a class="text-primary" (click)="openAddCardModal()">buraya tıklayarak</a> ekleyebilirsiniz.</span>
      </div>
      <div class="col-12 col-md-4 col-lg-3" *ngFor="let card of cardService.filteredCards">
        <app-card-item [card]="card"></app-card-item>
      </div>
    </div>
  </div>

</main>
