<header class="header">
  <mat-toolbar color="primary">
    <span>My App</span>
    <span class="example-spacer"></span>

    <div class="header-menu">
    <ul >
      <li>
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><mat-icon>home</mat-icon>Ana Sayfa</a>
      </li>
      <li>
        <a routerLink="/about" routerLinkActive="active"><mat-icon>info</mat-icon>Hakkında</a>
      </li>
      <li>
        <a routerLink="/cards" routerLinkActive="active"><mat-icon>card_membership</mat-icon>Kartvizitler</a>
      </li>
    </ul>
  </div>
  </mat-toolbar>
</header>
